@inherits LayoutComponentBase

<div class="col-12">
    <br /><br />
    <br /><br />
    <center>
        <div class="col-8 card">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <div class="col-6" style="border-right:groove">
                    
                </div>
                <div class="col-6" style="border-left:thick">
                    @Body
                </div>
            </div>
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
        </div>
    </center>
</div>
