@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Fixed="true">
        <Bar Style="height: 64px;" 
             Breakpoint="Breakpoint.Desktop">
            <BarBrand>
                <div class="logo-wrap">
                    <a href="">
                        <span>TeleMetri</span>
                    </a>
                </div>
            </BarBrand>
            <BarMenu>
                <BarEnd>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>More</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="https://blazorise.com/docs/quick-start/">
                                    Quick-Start Guide
                                </BarDropdownItem>
                                <BarDropdownItem To="https://blazorise.com/docs/usage/">
                                    Usage
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutSider>
        <LayoutSiderContent>
            <NavMenu />
        </LayoutSiderContent>
    </LayoutSider>
    <LayoutContent Padding="Padding.Is4.OnX">
        @Body
    </LayoutContent>
</Layout>


