@page "/Index"
@inherits IndexBase

<AuthorizeView>
    <Authorized>
        <Row>
            <Column>
                <CardBody>
                    <h3><b>Welcome @LoggedInUser.Identity.Name to Xpenser</b></h3>
                </CardBody>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is8.OnDesktop">

            </Column>
            <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.OnDesktop">

                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.OnDesktop">

                    </Column>
                </Row>
            </Column>
        </Row>
    </Authorized>
</AuthorizeView>

