@page  "/signup"

    <EditForm Model="@PageObj" OnValidSubmit="@RegisterUser">
        <div>
            <br /><br /><br /><br /><br />
        </div>
        <div>
            <h3 style="font-weight:bold; color:purple">Book Shop Login</h3>
        </div>
        <div>
            <br />
        </div>
        <div class="col-12 row">
            <input class="form-control col-12" @bind="PageObj.FirstName" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input class="form-control col-12" @bind="PageObj.LastName" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input class="form-control col-12" @bind="PageObj.MobileNo" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input class="form-control col-12" @bind="PageObj.EmailID" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" @bind="PageObj.LoginPassword" placeholder="password" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" @bind="PageObj.ConfirmPassword" placeholder="confirm password" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-12"></span>
            <input type="submit" class="form-control col-6 btn btn-primary" value="Sign up" />
            <a href="/" class="col-6">Already an user?</a>
        </div>
        <br />
        <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12">@SignUpMesssage</span>
        </div>
    </EditForm>